@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}


:root{

/*||||||||||||||||||||||| Colors ||||||||||||||||||||*/

/*\\\\\\\\\\\\\\\\\ Primary \\\\\\\\\\\\\\\\\*/

 --primaryLightColor: hsl(225, 100%, 94%); /* - Pale blue */
 --primaryDarkColor: hsl(245, 75%, 52%); /* - Bright blue */

/*///////////////// Neutral //////////////////*/

 --neturalLightColor: hsl(225, 100%, 98%); /* - Very pale blue */
 --neturalLightDarkColor: hsl(224, 23%, 55%); /* - Desaturated blue */
 --neturalDarkColor: hsl(223, 47%, 23%); /* - Dark blue */

/*////////////// Typography /////////////////*/

 --FSize: 16px;
 --FF: 'Red Hat Display', sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--FF); 
    background-color: var(--primaryLightColor);
    line-height: 1.4;
    color: var(--neturalLightDarkColor);
}
a{
    color: var(--primaryDarkColor);
    font-weight: 900;
    font-size: 0.75rem;/*  */
}

a:hover{
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.753);
    
}
h1{
    font-size: 1.25rem;/*  */
    color: var(--neturalDarkColor);
    font-weight: 900;
}
p{
    margin: 0.6rem 0;
    font-size: 0.75rem; /*  */
}
li{
    list-style-type: none;
    font-size: 0.75rem;
}
button{
    display: block;/*  */
    font-size: 0.7rem;
    font-weight: 700;/*  */
    cursor: pointer;
    border-radius: 0.5rem;
    border:none
}


.container{
    background-color: var(--neturalLightColor);
    width: 16.6rem; /*  */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 23px 36px 55px 4px rgba(0,0,0,0.44);
}
.container .heroInfo{
    padding: 1rem 2rem;/*  */
    text-align: center;
    
}

.container .heroImg img{
    width: 16.6rem; /*  */
    height: auto;
}

.heroInfo .subscription_box{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--neturalLightColor);
    
}

.heroInfo .subscription_box .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
}
.heroInfo .subscription_box .logo img{
    padding-right: 0.3rem;/*  */
    width: 2.55rem;/*  */
    height: auto;

}

.heroInfo .subscription_box ul li:first-child{
    font-weight: 900;
    color: var(--neturalDarkColor);
}

.container .proceed{
    padding: 0.55rem 2.92rem;/*  */  
    background-color: var(--primaryDarkColor);
    color: var(--neturalLightColor);
}
.container .proceed:hover, .container .proceed:focus{
    transform: translateY(-5px);
    background-color: hsla(245, 75%, 52%, 0.753);
}
.container .cancel{
    padding: 0.55rem 4.1rem;/*  */
    margin: 0.5rem 0 0;/*  */
    color: var(--neturalLightDarkColor);
}

.container .cancel:hover, .container .cancel:focus{
    color: var(--neturalDarkColor);
}
@media screen and (min-width:900px){


    body{
        font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
    h1{
        font-size: 1.6rem;
    }
    p{
        font-size: 1rem;
    }
    button{
        font-weight: 700;
        font-size: 0.8rem;
    }
    .container{
        width: 24.6rem;   
    }
    .container .heroInfo{
        padding: 0 2.4rem;
        margin-top: 2.4rem;
    }
    .container .heroImg img{
        width: 24.6rem;

    }
    .heroInfo .subscription_box .logo ul li{
        font-size: 1rem;
    }
    .heroInfo .subscription_box .logo img{
        padding-right: 0.7rem;
        width: auto;
    }
    .heroInfo .subscription_box ul{
        font-size: 1rem;
    }
    .container .proceed{
        padding: 0.55rem 5.7rem;  
    }
    .container .cancel{
        padding: 0.55rem 7.05rem;
        margin: 1rem 0 2.5rem;
    }
    

}